.remodal.donation(data-remodal-id="donation", data-remodal-options="hashTracking: false, closeOnOutsideClick: false")
  .donation__close(data-remodal-action="close")
    svg.donation__close-icon
      use(xlink:href="#icon-close")
  .donation__content
    .donation__description O PlayTV é um site sem fins lucrativos. Contudo, temos um grande gasto com servidores.<br>Colaborando conosco, você vai garantir nossa permanência no ar.<br>Faça sua parte. Ajude-nos a manter o servidor sempre on-line.

    .donation__title Doar com:
    .donation-info
      a.donation-info__item.donation-info__item--pagseguro(href="https://pag.ae/bhnD573", target="_blank") PagSeguro
      a.donation-info__item.donation-info__item--paypal(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Q378CTNB6F224", target="_blank") PayPal
      a.donation-info__item.donation-info__item--bitcoin(href="https://blockchain.info/pt/address/17GNE3RyhknBMwRNmE2iBaFGmSV4S1rafi", target="_blank") Bitcoin

