header.header
  .container
    .header__content
      svg.header__logo
        use(xlink:href="#logo")
      .header__link
        span http://bit.ly/2s3AuNS
        svg.header__link-icon
          use(xlink:href="#icon-link")

    nav.header__menu
      ul.header__menu-list
        li
          a.header__menu-item.active(href="#", data-filter="*") Todos
        li
          a.header__menu-item(href="#", data-filter=".documentarios") Documentários
        li
          a.header__menu-item(href="#", data-filter=".esportes") Esportes
        li
          a.header__menu-item(href="#", data-filter=".filmesseries") Filmes & Séries
        li
          a.header__menu-item(href="#", data-filter=".infantil") Infantil
        li
          a.header__menu-item(href="#", data-filter=".jornalismo") Jornalismo
        li
          a.header__menu-item(href="#", data-filter=".musicas") Músicas
