header.header
  .container
    .header__content
      svg.header__logo
        use(xlink:href="#logo")
      .header__search
        input.header__search-input(type="search", placeholder="Pesquisar...")
        svg.header__search-icon
          use(xlink:href="#icon-search")

    nav.header__menu
      ul.header__menu-list
        li
          button.header__menu-item.active(href="#", data-filter="*") Todos
        li
          button.header__menu-item(href="#", data-filter=".documentarios") Documentarios
        li
          button.header__menu-item(href="#", data-filter=".esportes") Esportes
        li
          button.header__menu-item(href="#", data-filter=".filmesseries") Filmes & Series
        li
          button.header__menu-item(href="#", data-filter=".infantil") Infantil
        li
          button.header__menu-item(href="#", data-filter=".jornalismo") Jornalismo
        li
          button.header__menu-item(href="#", data-filter=".musicas") Musicas

