section.channels
  h2.hide Canais
  .container
    .channels__list
      //- each index in [1,2,3,4]
        .channels__item.jornalismo(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
      //- each index in [1,2,3,4]
        .channels__item.documentarios(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
      //- each index in [1,2,3,4]
        .channels__item.esportes(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
      //- each index in [1,2,3,4]
        .channels__item.filmesseries(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
      //- each index in [1,2,3,4]
        .channels__item.infantil(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
      //- each index in [1,2,3,4]
        .channels__item.musicas(data-remodal-target="modal", data-link="http://bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", width="200", alt="Fox HD")
          h3.channels__item-title Fox HD
