.channels
  .container
    .channels__list
      each index in [1,2,3,4]
        .channels__item.jornalismo(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
      each index in [1,2,3,4]
        .channels__item.documentarios(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
      each index in [1,2,3,4]
        .channels__item.esportes(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
      each index in [1,2,3,4]
        .channels__item.filmes-e-series(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
      each index in [1,2,3,4]
        .channels__item.infantil(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
      each index in [1,2,3,4]
        .channels__item.musicas(data-remodal-target="modal")
          .channels__item-image
            img(src="https://lh5.googleusercontent.com/-E0uDPx1zoOM/AAAAAAAAAAI/AAAAAAAACuE/WZ5154foE6Y/s0-c-k-no-ns/photo.jpg", alt="Fox HD")
          .channels__item-description Fox HD
